<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/tailwind.css">
</head>

<body>
    <div class="main m-auto h-screen p-4">
        <div class="flex flex-col">
            <!-- header -->
            <div class="header flex justify-between">
                <div class="icon">
                    <img src="/asset/coffee 2.png" alt="">
                </div>
                <div class="keranjang flex ">
                    <img src="/asset/cart-add 1.svg" alt="" height="15" width="15" class="mr-1">
                    Keranjang
                </div>
            </div>
            <!-- item -->
            <div class="item-main flex justify-between">
                <div class="text mt-5">
                    <div class="text-1 font-bold">Hayyu Coffe</div>
                    <div class="text-2">Punclut Lembang</div>
                </div>
                <div class="img">
                    <img src="/asset/97f91f634de04058a299 1.png" alt="">
                </div>
            </div>
            <div class="code text-3xl text-center w-60 items-center mx-auto my-2 font-extrabold">
                29ASKNAIK
            </div>
            <div class="list-pesanan">
                <img src="/asset/dibuat.png" alt="" class="mx-auto">
                <div class="text-center font-bold">
                    Pesanan Anda sedang dibuat
                </div>
            </div>
        </div>
    </div>

</body>

</html>